<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/download.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        My Bank
    </div>
    <h6>{{aim}}</h6>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input (change)="acnoChange($event)" type="text" name="userName" id="login_acno" [placeholder]="accounts">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input (change)="pswdChange($event)" name="password" id="login_pswd" placeholder="Password">
        </div>
        <button class="btn mt-3" type="button" (click)="login()">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="signup.html">Sign up</a>
    </div>
</div>
